<div class="jumbotron">

    <h1>Welcome to Robot World!</h1>

  <p>We are here to either create you a robot or find you a robot, screen that robot, and ultimately hire that robot for you!</p>
</div>

<div>
  <ul>
    <li><a href="/robots">See all of the Robots</a></li>
    <li><a href="/robots/new">Make a New Robot</a></li>
    <li><a href="/robots/data">Robot Data</a></li>
  </ul>

</div>
